.fields {
  display: block;
  padding: 10px;
  height : 70vh;
  margin: auto;
  width : 90%;
  margin-top: 200px;
}
.fields .form-shape {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
  background: transparent;
  border: 2px solid #3ecfa3 ;
  border-radius: 7px;
  margin: auto;

  width: 100%;
  height : 60vh ;
}
.fields .form-shape .titres {
  display: block;
  font-size: 30px ;
  font-family: 'Roboto' , sans-serif;
  font-weight: 800;
  letter-spacing: 1px ;
  margin-top: 50px ;
  text-align: center;
}
.fields .form-shape .input-shape {
  display: block ;
  margin: auto;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 15px;
  padding : 40px 40px ;
}
.fields .form-shape .input-shape .inps {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fields .form-shape .input-shape .lefty {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}
.fields .form-shape .input-shape .lefty input {
  padding : 10px ;
  border-radius: 7px ;
  border : 1px solid #3ecfa3 ;
  font-size: 16px;
  color : black ;
  transition: 0.3s;
  margin-bottom: 20px;
}


.fields .form-shape .input-shape .righty {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}
.fields .form-shape .input-shape .righty input {
  padding : 10px ;
  border-radius: 7px ;
  border : 1px solid #3ecfa3 ;
  font-size: 16px;
  color : black ;
  transition: 0.3s;
  margin-bottom: 20px;

} 
