.chose .tit{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    font-family: "IBM Plex Sans",sans-serif;
    margin-top: 30px;
}
.chose .title{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    font-family: "IBM Plex Sans",sans-serif;
}
.chose .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 30px;
}
.chose .card .img img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3ECFA3;
    padding: 10px 15px;
    border-radius: 10px;
}
.chose .card:hover img {
    background-color: #3ef5a3;
    cursor: pointer;
}
.chose .card .img img{
    width: 60px;
}
.chose .cards .card{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    border: 1px ;
    border-radius: 5px;
    padding: 20px 40px;
    gap: 20px;
}
.chose .cards .card .text .title{
    font-size: 18px;
    color: black;

}