section .form-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
section .title {
  font-size: 40px;
  font-family: 'Roboto' , sans-serif;
  text-align: center;
  color : #3ecfa3;
  padding : 15px;

}

section .form-area .left {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 27%;
}

section .form-area .right {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-right: 25%;
}
