.title {
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  color: #3ecfa3;
  font-family: "Comfortaa", cursive;
  margin-bottom: 50px;
}

.max-width .textfield-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width : 65%
}
