.home {
    background-image: url('../assets/images/slide.jpg');
    width: 100%;
    height: 80vh;
    margin-top: 85px;
    opacity: 0.9;
}

.home .container .text .text1{
    font-family:"Londrina Solid",cursive;
    font-weight:800;
    font-size: 80px;
    color: #3ECFA3;
    padding-top:150px;
    margin-top: 30px;
    text-align: center;
}
.home .container .text .text2{
    font-family: "Londrina Solid",cursive;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}
.home .container .text .text3{
    font-family: "Londrina Solid",cursive;
    color: #fff;
    font-weight: 300;
    margin-top: 30px;
    text-align: center;
}

.home .container button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:transparent;
    padding: 20px 50px;
    border:2px solid white;
    border-radius: 30px;
    margin: auto;
    margin-top: 30px;
    
}
.home .container button:hover{
    background-color: #3ECFA3;
    border:2px solid transparent;
    cursor: pointer;
}
.home .container .wraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

/*responsive*/
@media(max-width: 976px) {
    .home .container .text .text1{
        font-size: 22px;
        margin-left: 130px;
    }
    .home .container .text .text2{
        font-size: 16px;
        margin-top: 30px;

    }
    .home .container button{
        padding: 8px 25px;
        margin-left: 130px;
        margin-top: 30px;
    }
}