.products .prod {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
}
.products .prod .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.products .prod .img img{
    width: 100%;
    border-radius: 20px;
}
.products .title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    font-family: "IBM Plex Sans",sans-serif;
    margin-top: 30px;
}
.products .prod .content .text{
    font-size: 22px;
    font-weight: 600;
    color: #000;
    font-family: "IBM Plex Sans",sans-serif;
    margin-top: 0px;
}
.products .prod .content .text1{
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    color: #3ECFA3;
    font-family: "IBM Plex Sans",sans-serif;
    margin-top:30px;
}
.products .prod .content .text2{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #000;
    font-family: "IBM Plex Sans",sans-serif;
    margin-top:30px;
}
.products .prod .content .button button{
padding: 10px 15px;
background-color: #3ECFA3;
color: white;
border:  1px solid #3ECFA3;
border-radius: 15px;
margin-top: 30px;
}
.products .prod .content .button button:hover{
    background-color: white;
    color: #3ECFA3;
    border:1.5px solid #3ECFA3;
    cursor: pointer;
}