.experience .container{
    margin-top: 50px;
    width: 100%;
    height: 15vh;
}
.experience .container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-image: linear-gradient(#41E099 ,#3DC1AD);
}
.experience .container .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.experience .container .content .number{
    font-size: 40px;
    color: #fff;
}
.experience .container .content .text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}
/*responsive */
@media (max-width: 967px) {
    .experience .container{
        margin-top: 1000px;
        width: 100%;
        height: 35vh;
    }
    .experience .container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(5,1fr);
       background-image: linear-gradient(#41E099 ,#3DC1AD);
       margin-top: 30px;
    }
}