.home {
    position: relative;
    background-image: url('../assets/images/slide1000.jpg');
    width: 100%;
    height: 80vh;
    margin-top: 60px;
}
.home .container{
    z-index: 10;
}

.home .container .text .text1{
    font-family:"Roboto",sans-serif;
    font-weight:800;
    font-size: 60px;
    color: #3ECFA3;
    padding-top:150px;
    text-align: center;
}
.home .container .text .text2{
    font-family: "Roboto ",sans-serif;
    color: #3ECFA3;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}
.home .container .text .text3{
    font-family: "Roboto",sans-serif;
    color: #3ECFA3;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}

.home .container button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3ECFA3;
    font-size : 17px;
    background-color:transparent;
    padding: 20px 50px;
    border:2px solid #3ECFA3;
    border-radius: 17px;
    margin: auto;
    margin-top: 30px;
    
}
.home .container button:hover{
    background-color: #3ECFA3;
    border:2px solid transparent;
    color : white;
    cursor: pointer;
}
.home .container .wraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

/*responsive*/
@media(max-width: 976px) {
    .home{
        margin-top: 5px;
    }
    .home .container .text .text1{
        font-size: 28px;
    }
    .home .container .text .text2{
        font-size: 22px;
        margin-top: 30px;
    }
    .home .container .text .text3{
        font-size: 20px;
        margin-top: 30px
    }
    .home .container button{
        padding: 8px 25px;
        margin-top: 30px;
    }
}