.detailsproduct .dtls-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
}
.detailsproduct .dtls-products .product .img-product img{
    height: 60vh;
}
.detailsproduct .dtls-products .contenu .tit{
    font-size: 30px;
    font-weight: 600;
    color: #3ecfa3;
    margin-top: 0px;
}
.detailsproduct .dtls-products .contenu .starts {
    margin-top: 20px;
}
.detailsproduct .dtls-products .contenu .content {
    margin-top: 30px;
}
.detailsproduct .dtls-products .contenu .size{
    display: flex;
    flex-direction: row;
     gap: 30px;
     margin-top: 20px;
}
.detailsproduct .dtls-products .contenu .prix{
    margin-top: 20px;
    font-size: 24px;
}
.detailsproduct .dtls-products .contenu .btn button{
    margin-top: 30px;
    padding: 10px 40px;
    border: 1px solid #3ecfa3;
    background-color: #3ecfa3;
    color: white;

}