.detailsproduct .dtls-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 200px;
}
.detailsproduct .dtls-products .product .img-product img {
  width: 80%;
  height: 50vh;
}
.detailsproduct .dtls-products .contenu .tit {
  font-size: 30px;
  font-weight: 600;
  color: #3ecfa3;
  margin-top: 0px;
}
.detailsproduct .dtls-products .contenu .starts {
  margin-top: 20px;
}
.detailsproduct .dtls-products .contenu .content {
  margin-top: 30px;
}
.detailsproduct .dtls-products .contenu .size {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 15px;
  margin-top: 40px;
}
.detailsproduct .dtls-products .contenu .size span {
  margin-top: 5px;
}
.detailsproduct .dtls-products .contenu .size .small{
    border: 1px solid #3ecfa3;
    padding: 7px;
    transition: 0.3s ease-in-out;
    
}
.detailsproduct .dtls-products .contenu .size .small:hover {
    background-color: #3ecfa3;
    cursor: pointer;
    color : white;
}
.detailsproduct .dtls-products .contenu .size .meduim{
    border: 1px solid #3ecfa3;
    padding: 7px;
    transition: 0.3s ease-in-out;
}
.detailsproduct .dtls-products .contenu .size .meduim:hover {
    background-color: #3ecfa3;
    cursor: pointer;
    color : white ;
}
.detailsproduct .dtls-products .contenu .size .large{
    border: 1px solid #3ecfa3;
    padding: 7px;
    transition: 0.3s ease-in-out;
    
}
.detailsproduct .dtls-products .contenu .size .large:hover {
    background-color: #3ecfa3;
    cursor: pointer;
    color : white ;
}
.detailsproduct .dtls-products .contenu .prix{
    margin-top: 20px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.detailsproduct .dtls-products .contenu .btn button {
  margin-top: 30px;
  padding: 10px ;
  background-color: #3ecfa3;
  color: white;
  width : 25%;
  border : none ;
  border-radius: 5px;
}
.detailsproduct .dtls-products .contenu .btn button:hover {
  background-color: white;
  color: #3ecfa3;
  cursor: pointer;
  border : 2px solid #3ecfa3;
}

/*responsive*/
@media (max-width: 768px) {
  .detailsproduct .dtls-products {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0px;
  }
  
  .detailsproduct .dtls-products .product .img-product img {
    height: 40vh;
    width: 100%;
  }
  .detailsproduct .dtls-products .contenu .tit {
    font-size: 22px;
    font-weight: 400;
    color: #3ecfa3;
    margin-top: 0px;
  }
  .detailsproduct .dtls-products .contenu .starts {
    margin-top: 10px;
  }
  .detailsproduct .dtls-products .contenu .content {
    margin-top: 50px;
    font-size: 14px;
  }
  .detailsproduct .dtls-products .content .size {
    display : grid ;
    grid-template-columns: repeat(3 , 1fr);
    width : 70% ;  
    margin: auto;
  }
  .detailsproduct .dtls-products .content .size span {
    padding : 10px ;
    font-weight : 700
  }
 
  .detailsproduct .dtls-products .contenu .prix {
    margin-top: 40px;
    font-size: 16px;
  }
  .detailsproduct .dtls-products .contenu .btn button {
    position: relative;
    top: 30px;
    padding: 10px 40px;
    border: 1px solid #3ecfa3;
    background-color: #3ecfa3;
    color: white;
    display: block;
    margin: auto;
    width : 50%
  }
}
