.owl-theme{
  margin-right: 0px;
}

.liste-product .title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 30px;
}
.liste-product .type{
  display: flex;
  justify-content: center;
}
.liste-product .type .type-medicament {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
  
}
.liste-product .type-medicament .comprime {
  transition: 0.3s ease-in-out;
}
.liste-product .type-medicament .comprime:hover{
  border-bottom: 2px solid #3ecfa3;
  cursor: pointer;
}
.liste-product .type-medicament .gelule {
  transition: 0.3s ease-in-out;
}
.liste-product .type-medicament .gelule:hover {
  border-bottom: 2px solid #3ecfa3;
  cursor: pointer;
}
.liste-product .type-medicament .injectables {
  transition: 0.3s ease-in-out;
}
.liste-product .type-medicament .injectables:hover {
  border-bottom: 2px solid #3ecfa3;
  cursor: pointer;
}
.liste-product .type-medicament .inhalees {
  transition: 0.3s ease-in-out;
}
.liste-product .type-medicament .inhalees:hover {
  border-bottom: 2px solid #3ecfa3;
  cursor: pointer;
}
.liste-product .type-medicament .dermiques {
  transition: 0.3s ease-in-out;
}
.liste-product .type-medicament .dermiques:hover {
  border-bottom: 2px solid #3ecfa3;
  cursor: pointer;
}
.liste-product .type-medicament .liquide{
  transition: 0.3s ease-in-out;
}
.liste-product .type-medicament .liquide:hover {
  border-bottom: 2px solid #3ecfa3;
  cursor: pointer;
}
.liste-product .medicaments{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.liste-product .medicaments .medicament{
  padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: 0.5s ease-in-out;
}
.liste-product .medicaments .medicament:hover {
  transform: translateY(-20px);

}
.liste-product .medicaments .medicament .img-medicament {
    display: flex;
    justify-content: center;
    align-items: center; 
  
}
.liste-product .medicaments .medicament .img-medicament img{
    width: 60%;
}
.liste-product .medicaments .medicament .title-medicament{
    text-align: center;
}
.liste-product .medicaments .medicament .prix{
    text-align: center;
    margin-top: 20px; 
}
.title-best-saller {
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl .medicaments{
  display: flex;
  justify-content: center;
  align-items: center;
}
.best-saller{
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #3ecfa3;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 30px;
}
/*code best saller owl */
.best-medicaments{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.best-medicaments .best-medicament {
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  gap: 50px;
  
}
.best-medicaments .best-medicament .img-medicament{
  display: flex;
  justify-content: center;
  align-items: center;
}
.best-medicaments .best-medicament .img-medicament img{
  width: 60%;
}
.best-medicaments .best-medicament .title-medicament {
  text-align: center;
}

.best-medicaments .best-medicament .prix {
  text-align: center;
  margin-top: 30px;
}
/*responsive*/
@media (max-width : 768px) {
  .liste-product .type .type-medicament {
    display : flex ;
    flex-direction: row;
    width : 100vw;
    gap : 10px ;
    position: relative;
  }
  .liste-product .medicaments {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width : 100%;
  }
}