@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Outfit:wght@300&family=Poppins:wght@300&family=Roboto:wght@300;500&display=swap");

nav {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 99999;
  flex-direction: row;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}
nav .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  gap: 70px;
}
nav .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .container .logo img {
  width: 150px;
  padding: 11px;
  border-radius: 5px;
}
nav .container .menu ul {
  list-style: none;
  display: flex;
}
nav .container .menu ul li {
  margin-left: 40px;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #3ecfa3;
  padding: 10px 0px;
  transition: 0.5s;

}
nav .container .menu ul li:hover {
  border-bottom: 1.5px solid #3ecfa3;
  padding: 10px;
}
nav .container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .container .btn .button {
  border: 2px solid #3ecfa3;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  background: transparent;
}
nav .container .btn .button:hover {
  background-color: #3ecfa3;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
}
nav .container .btn a:link{
  text-decoration: none;
}
/*responsive */
@media (max-width: 600px) {
  nav {
    display: none;
  }
}
  /* responsive tablet */ 

  nav .container .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;

  }