@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.sec {
  padding: 20px;
}
.sec .cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  background : transparent;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  border : 2px solid #028090;
} 
.sec .title {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
}
.sec .cart .cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin: auto;
  padding: 10px;
}
.sec .cart .cards .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background : transparent;
  border-radius: 10px;
  border : 2px solid #3ECFA3;
  padding: 10px;
  transition: 0.4s ease-in-out;
}
.sec .cart .cards .card:hover {
  transform: translateY(-10px);
  background-color: white;
}
.sec .cart .card .cards .img-area {
  display: block;
  margin: auto;
}
.sec .cart .cards .card .content {
  display: grid;
  grid-template-rows: 1fr 1fr ;
  margin: auto;
  width: 30%;
}
.sec .cart .cards .card .content .dispo {
  display : block ;
  margin: auto;
  color: #058c2e;
  padding : 5px ;
  font-size: 12px;
  
}
.sec .cart .cards .card .content .name {
  display: block;
  margin-right : auto;
  font-weight: 900;
  color: black;
  font-family: "Roboto", sans-serif;
}
.sec .cart .cards .card .content .name2 {
  display: block;
  margin : auto;
  font-weight: 900;
  color: #3ECFA3;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.sec .cart .cards .card .icon {
  display: flex;
  margin: auto;
}

.sec .cart .cards .card .icon .counter {
  display: flex;
  gap: 20px;
  margin: auto;
}
.sec .cart .cards .card .trash {
  display: block;
  margin: auto;
}
.sec .cart .card .content .name {
  font-size: 18px;
  display: block;
  margin: auto;
  color: rgb(231, 110, 130);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.sec .button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
