.sidebar {
    padding: 30px 0px 0px 10px;
    background: linear-gradient(#3ECFA3, #04738f);
    display: flex;
    flex-direction: column;
    color: white;
}

.sidebar .logo__container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 80px;
    margin-left: 60px;
}

.sidebar .logo__container img {
    width: 60%;
}

.sidebar .menu {
    flex: 1;
}

.sidebar .menu li .menu__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .menu li .menu__icon svg {
    margin-right: 12px;
    margin-bottom: 1px;
    height: 18px;
    width: 18px;
}

.sidebar .menu li:nth-child(3) .menu__icon svg{
    height: 15px;
    width: 15px;
    margin-left: 1px;
}

.sidebar .menu li {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0;
    padding: 10px 20px;
    cursor: pointer;
    transition: .5s;
}

.sidebar .menu li:not(.active):hover {
    transform: translateX(10px);
}

.sidebar .menu li.active {
    position: relative;
    background-color: white;
    color: #00487E;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.sidebar .menu li.active::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url('../assets/images/radius.png');
    background-size: contain;
}

.sidebar .menu li.active::before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url('../assets/images/radius2.png');
    background-size: contain;
}

.sidebar .copyRight {
    margin-bottom: 20px;
    font-size: 10px;
    margin-left: 20px;
}

.sidebar .copyRight span {
    margin-bottom: 50px;
    font-weight: 600;
}