.signUp1 {
    background: linear-gradient(#3ECFA3, #07e7a4);
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222222;
  }
  
  .signUp1 .container__form1 {
    position: relative;
    background-color: white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 26vw;
    min-width: 320px;
    min-height: 75vh;
    overflow: hidden;
  }
  
  .signUp1 .container__form1 .MuiAlert-standardError {
    display: none;
    margin-bottom: 50px;
    width: 90%;
    z-index: 9;
  }
  
  .signUp1 .container__form1 .MuiAlert-standardError.active {
    display: flex;
  }
  
  
  
  .signUp1 .container__form1 .icon-container1 img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    left: 50%;
    margin: auto;
    margin-bottom: 60px;
  }
  
  
  
  .signUp1 .container__form1 .inputz {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .signUp1 .container__form1 p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
    align-self: flex-end;
    cursor: pointer;
  }
  
  .signUp1 .container__form1 .btn1 {
    width: 100%;
    margin-top: 60px;
  }
  
  .signUp1 .container__form1 .MuiFormLabel-root,
  .signUp1 .container__form1 .MuiInputBase-root {
    font-size: 14px !important;
  }
  
  .signUp1 .container__form1 .MuiButton-contained {
    background-color: #3ECFA3 !important;
    color: white !important;
  }
  
  @media(max-width:400px) {
    .signUp1 .container__form1 {
        width: 80%;
        min-width: 80%;
    }
  }